*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --roboto:'Roboto', sans-serif;
}

body, input, button{
    font-size: 1rem;
    font-family: var(--roboto);
    --webkit-font-smoothing: antialiased;
}